<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<body>
	<ui:composition>
		<div id="layoutHeader" class="row"
			style="padding: 10px;">
			<div class="">
				<a class="ivy-logo" href="#"> 
					<!-- <h:graphicImage	name="layouts/images/Axon-icon.png" alt="Axon.ivy" /> -->
				</a>
			</div>
			<div class="">
				<h2>#{ivy.cms.co('/common/ch/requestForLeave/layouts/leavingRequest')}</h2>
				<div class="">
					<p:outputLabel value="Welcome" />
					<p:commandLink value="Logout" />
				</div>
			</div>
		</div>
	</ui:composition>
</body>
</html>