body {
	background: #f5f5f5;
}

a {
	color: #c7d422;
}

.row label {
	margin: auto 0;
}

a:hover {
	color: #c7d422;
	text-decoration: underline;
}

.form-content {
	background-color: #ffffff;
    padding: 25px 50px;
    box-shadow: 0px 0px 10px 0px rgba(205, 205, 205, 0.7);
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.userMenu a {
	font-size: 14px;
}

.row {
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 5px;
    flex-wrap: nowrap;
}

.label {
	font-size: 13px;
}

.name-user {
	color: 
}

.header-title {
	font-weight: bold !important;
}

#layoutHeader {
	margin-right: 0;
	margin-left: 0;
}

html {
	overflow: auto;
}

.user {
	text-align: right;
}

#headerdiv {
	margin: 0;
}

#content {
	margin-top: 16px;
	
}

.navbar.navbar-top {
	background-color: #ffffff;
    padding: 12px 25px;
    box-shadow: 0px 0px 10px 0px rgba(205, 205, 205, 0.7);
    text-align: center;
}

.logout {
	color: #c7d422 !important;
}

button.button {
	border-radius: 8px;
	border: none;
	outline: none;
	background: #c7d422;
	color: #FFF;
	transition: .5s ease;
	border-radius: 10em;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0
		rgba(0, 0, 0, .12);
}

.text-title {
	color: #3c4112;
	font-weight: bold !important;
}

.page label,
.page input,
.page input.input:hover,
.page input.input:focus,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #3c4112;
}
.text-title.center {
	margin: auto;
	font-size: 20px;
}

#layoutFooter {
	width: 100%;
	position: fixed;
	bottom: 0;
	text-align: center;
}

#layoutFooter p {
	width: 100%;	
}

.type-request {
	padding-right: 0;
}

@media screen and (min-width: 500px) {
	#headerdiv {
		max-width: none;
	}
}