.row {
	margin-bottom: 5px;
}

.form-content {
	padding: 20px 25px 20px 45px;
}

.row label {
	margin: auto 0;
}

.page input.input:hover,
.page input.input:focus {
	color: #3c4112 !important;
}


.form-content {
	max-width: 400px;
	margin: auto;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 350px);
    min-height: 380px;
}

@media screen and (max-height: 500px) {
	#layoutFooter {
		position: static;
	}
}