.button + .button {
	margin-left: 5px;
}

.row {
	text-align: left;
}

.items {
	max-width: 200px;
	list-style: none;
	padding: 0;
}

.item {
	border-radius: 2px;
	font-size: 16px;
	background: #c7d422;
	margin-bottom: 2px;
}

.item label {
	text-indent: 16px;
	margin: 0;
}

.item:hover {
	background: rgba(69, 28, 82, 0.8);
}

.item:active {
	background: rgba(69, 28, 82, 0.8);
}

.item:focus {
	background: black;
}

.item button {
	width: 100%;
}

.item button:hover {
	outline: 1px solid #c7d422;
    outline-offset: -1px;
}

.item button.active {
	background: #c7d422;
}

#content .form-content {
	padding-left: 15px;
}

.listRequest {
	max-height: calc(100vh - 300px);
	overflow-y: auto;
	overflow-x: hidden; 
}
.listRequest {
	text-align: center;	
}

.title-primary {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

#formLeavingRequest {
	padding: 0 15%;
}