<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">manageRequests</ui:define>
		<ui:define name="customCss">
			<h:outputStylesheet name="layouts/styles/common.css" />
			<h:outputStylesheet name="/css/manageRequest.css" />
		</ui:define>

		<ui:define name="content">
			<p:outputPanel id="panel">
				<div class="form-content">
					<h:form id="form">
						<p:messages />
					</h:form>
					
					<div class="row">
						<p:commandButton actionListener="#{logic.handleFlow}"
							value="Handle leaving requests" styleClass="button"
							icon="fa fa-check" update="panel" />
					</div>
				</div>
			</p:outputPanel>
		</ui:define>
	</ui:composition>
</h:body>
</html>