.row {
	text-align: left;
}

.middle {
	vertical-align: sub;
}

.startDate, .endDate {
	padding: 0 15px;
}

.title-primary {
	font-size: 22px;
	text-align: center;
	font-weight: bold;
}

@media screen and (max-width: 700px) {
	#layoutFooter {
		position: static;
	}
}
