<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="title">handleRequest</ui:define>
		<ui:define name="customCss">
			<h:outputStylesheet name="layouts/styles/common.css" />
			<h:outputStylesheet name="/css/handleRequest.css" />
		</ui:define>

		<ui:define name="content">
			<div class="form-content">
				<div class="row">
					<div class="col-3">
						<p class="header-title" style="color: #3c4112; font-size: 14px; text-align: center;">List leaving request</p>
						<div class="listRequest">
							<ui:repeat var="task" value="#{data.tasks}">
								<ul class="items">
									<li class="item"><p:commandButton value="#{task}"
											styleClass="#{task == data.currentTaskName ? 'active' : ''}"
											actionListener="#{logic.goToTask(task)}" /></li>
								</ul>
							</ui:repeat>
						</div>
					</div>
					<div class="col-9">
						<p class="title-primary">Leaving Request</p>
						<h:form id="formLeavingRequest">
							<div class="row">
								<p:outputLabel styleClass="header-title"
									value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/employeeInfo')}" />
							</div>
							<div class="row">
								<p:outputLabel styleClass="col-2"
									value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/fullName')}: " />
								<p:outputLabel styleClass="col-10"
									value="#{data.requestInformation.fullName}" />
							</div>
							<div class="row">
								<p:outputLabel styleClass="col-2"
									value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/email')}: " />
								<p:outputLabel styleClass="col-10"
									value="#{data.requestInformation.email}" />
							</div>
							<div class="row">
								<p:outputLabel styleClass="header-title"
									value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/leaveRequest')}" />
							</div>
							<div class="row">
								<p:outputLabel styleClass="col-2"
									value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/startDate')}: " />
								<p:calendar styleClass="startDate col-3"
									value="#{data.requestInformation.startDate}" disabled="true" />
							</div>
							<div class="row">
								<p:outputLabel styleClass="col-2"
									value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/endDate')}: " />
								<p:calendar styleClass="endDate col-3"
									value="#{data.requestInformation.endDate}" disabled="true" />
							</div>

							<p:outputPanel id="customPanel" style="margin-bottom:10px">
								<p:selectOneRadio id="customRadio"
									value="#{data.requestInformation.type}" layout="custom">
									<f:selectItem itemLabel="Working Holiday"
										itemValue="Working Holiday" />
									<f:selectItem itemLabel="Marriage" itemValue="Marriage" />
									<f:selectItem itemLabel="Sickness" itemValue="Sickness" />
									<f:selectItem itemLabel="Maternity Leave"
										itemValue="Maternity Leave" />
									<f:selectItem itemLabel="Unpaid" itemValue="Unpaid" />
									<f:selectItem itemLabel="Other" itemValue="Other" />
								</p:selectOneRadio>

								<div class="row">
									<h:outputLabel styleClass="col-2 type-request"
										value="#{ivy.cms.co('/common/ch/requestForLeave/layouts/type')}: " />
									<div class="col-10 reason-request">
										<div class="col-12">
											<p:radioButton disabled="true" id="opt1" for="customRadio"
												itemIndex="0" />
											<h:outputLabel for="opt1" value="Working Holiday"
												styleClass="middle" />
										</div>

										<div class="col-12">
											<p:radioButton disabled="true" id="opt2" for="customRadio"
												itemIndex="1" />
											<h:outputLabel for="opt2" value="Marriage"
												styleClass="middle" />
										</div>
										<div class="col-12">
											<p:radioButton disabled="true" id="opt3" for="customRadio"
												itemIndex="2" />
											<h:outputLabel for="opt3" value="Sickness"
												styleClass="middle" />
										</div>

										<div class="col-12">
											<p:radioButton disabled="true" id="opt4" for="customRadio"
												itemIndex="3" />
											<h:outputLabel for="opt4" value="Maternity Leave"
												styleClass="middle" />
										</div>

										<div class="col-12">
											<p:radioButton disabled="true" id="opt5" for="customRadio"
												itemIndex="4" />
											<h:outputLabel for="opt5" value="Unpaid" styleClass="middle" />
										</div>

										<div class="col-12">
											<p:radioButton disabled="true" id="opt6" for="customRadio"
												itemIndex="5" />
											<h:outputLabel for="opt6" value="Other" styleClass="middle" />
										</div>
									</div>
								</div>
							</p:outputPanel>

							<div class="row">
								<p:commandButton value="Approve" icon="fa fa-check"
									styleClass="button" actionListener="#{logic.approve}" />
								<p:commandButton value="Reject" icon="fa fa-close"
									styleClass="button" actionListener="#{logic.reject}" />
							</div>
						</h:form>
					</div>
				</div>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>