<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title><ui:insert name="title">Ivy Html Dialog</ui:insert></title>
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<link rel="shortcut icon"
		href="#{resource['ivy-webcontent:layouts/images/ivy_favicon_48.png']}" />
	<h:outputStylesheet name="layouts/styles/resetCss.css" />
	<h:outputStylesheet name="layouts/styles/bootstrap.css" />
	<h:outputStylesheet name="layouts/styles/ivy-common-6.css" />
	<h:outputStylesheet name="/layouts/styles/common.css" />
	<ui:insert name="customCss" />
</h:head>
<h:body>
	<div class="page">
		<ui:insert name="header">
			<div class="navbar navbar-top">
				<div class="container" id="headerdiv">
					<div class="navbar-header">
						<a class="ivy-logo" href="http://developer.axonivy.com"> <h:graphicImage
								name="layouts/images/axon_ivy_logo.png" alt="Axon.ivy" />
						</a>
					</div>
					<div class="userMenu">
						<span>Welcome </span>
						<p:outputLabel value="#{data.userInformation.fullName}"
							styleClass="name-user" />
						<h:form styleClass="user">
							<p:commandLink value="Logout" actionListener="#{logic.logout}"
								styleClass="logout" />
						</h:form>
					</div>
				</div>
			</div>
		</ui:insert>

		<div id="content" class="container">
			<ui:insert name="content">
				<p>default content</p>
			</ui:insert>
		</div>
		
		<ui:insert name="footer">
			<ui:include src="/layouts/includes/footer.xhtml" />
		</ui:insert>

		<ui:insert name="exception">
			<ui:include src="/layouts/includes/exception.xhtml" />
		</ui:insert>
		<h:outputScript name="layouts/script/bootstrap.js" />
	</div>
</h:body>
</html>