<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:ic="http://ivyteam.ch/jsf/component"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:pm="http://primefaces.org/mobile">
<h:body>
	<ui:composition template="/layouts/basic.xhtml">
		<ui:define name="customCss">
			<h:outputStylesheet name="/layouts/styles/common.css" />
			<h:outputStylesheet name="/css/Login.css" />
		</ui:define>
		<ui:define name="title">LoginDialog</ui:define>
		<ui:define name="header">
			<div class="navbar navbar-top">
				<div class="container" id="headerdiv">
					<div class="navbar-header">
						<a class="ivy-logo" href="http://developer.axonivy.com"> <h:graphicImage
								name="layouts/images/axon_ivy_logo.png" alt="Axon.ivy" />
						</a>
					</div>
				</div>
			</div>
		</ui:define>
		<ui:define name="content">
			<div class="form-content">
				<div class="row">
					<p:outputLabel styleClass="text-title center text"
						value="#{ivy.cms.co('/dialogs/ch/requestForLeave/web/welcome')}" />
				</div>
				<h:form id="form">
					<p:outputPanel>
						<p:messages />
						<div class="row">
							<p:outputLabel value="Username:" styleClass="col-3 input-label"
								for="Username" />
							<p:inputText id="Username" styleClass="input"
								value="#{data.loginInformation.username}" required="true" />
						</div>

						<div class="row">
							<p:outputLabel value="Password:" styleClass="col-3 input-label"
								for="Password" />
							<p:inputText id="Password"
								value="#{data.loginInformation.password}" type="password"
								styleClass="input" required="true" />
						</div>
						<div class="row">
							<p:commandButton actionListener="#{logic.close}" value="Login"
								styleClass="button" update="form" icon="fa fa-check" />
						</div>
					</p:outputPanel>
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>